<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Humorous</title>
        <meta charset="UTF-8"/>
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <div class="contenido">
            <h2>Información de Usuario</h2>
            <a th:href="@{/usuario/listado/}">Regresar</a>
            <hr/>
            <form th:action="@{/usuario/guardar}"
                  method="post"
                  th:object="${usuario}">

                <input type="hidden" name="idUsuario" th:field="*{idUsuario}"/>
                <input type="hidden" name="idCredito" th:field="*{credito.idCredito}"/>
                <fieldset>
                    <label for="nombre">Nombre</label>
                    <input type="text" name="nombre" th:field="*{nombre}"/>
                </fieldset>
                <fieldset>
                    <label for="apellidos">Apellidos</label>
                    <input type="text" name="apellidos" th:field="*{apellidos}"/>
                </fieldset>
                <fieldset>
                    <label for="correo">Correo</label>
                    <input type="email" name="correo" th:field="*{correo}"/>
                </fieldset>
                <fieldset>
                    <label for="telefono">Teléfono</label>
                    <input type="tel" name="telefono" th:field="*{telefono}"/>
                </fieldset>
                <fieldset>
                    <label for="fecha">Fecha de Nacimiento</label>
                    <input type="text" name="fecha" th:field="*{fecha}"/>
                </fieldset>
                <fieldset>
                    <label for="limite">Limite de Crédito</label>
                    <input type="number" name="limite" th:field="*{limite}"/>
                </fieldset>
                <hr/>
                <input type="submit" value="Guardar" name="guardar"/>            
            </form>          
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
