<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Humorous</title>
        <meta charset="UTF-8"/>        
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <h2>Información de temporadas</h2>
        <a th:href="@{/temporada/nuevo}">Nueva Temporada</a>
        <div th:if="${temporadas !=null and !temporadas.empty}">
            <table border="1">
                <tr>
                    <th>Descripción</th>
                    <th>Activa</th>
                    <th>Eliminar</th>
                    <th>Modificar</th>
                </tr>
                <tr th:each="temporada : ${temporadas}">
                    <td>[[${temporada.descripcion}]]</td>
                    <td style="text-align: center">
                        <input 
                            type="checkbox" 
                            name="activo" 
                            th:checked= "${temporada.activo}" 
                            disable="true"/>
                    </td> 
                    <td><a th:href="@{/temporada/eliminar/}+${temporada.idTemporada}">Eliminar</td>
                    <td><a th:href="@{/temporada/modificar/}+${temporada.idTemporada}">Modificar</td>
                </tr>            
            </table>
        </div>

        <div th:if="${temporadas ==null or temporadas.empty}">
            <h2>No hay categorías que mostrar</h2>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
